/*========== THEME FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;500;700&family=Carrois+Gothic+SC&family=Overlock+SC&family=Quicksand:wght@300;400;500;600;700&display=swap');
/*========== THEME COLORS ==========*/
:root {
  --blue: rgb(85, 205, 252);
  --pink: rgb(247, 168, 184);
  --periwinkle: rgb(166,187,218);
  --lavender: rgb(169, 170, 219);
}

/*========== GLOBAL RULES ==========*/
body {
  margin: 0;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,ul,p,hr {
  margin-block-start: 0;
  margin-block-end: 0;
}
h1,h2,h3,ul {
  line-height: 100%;
}
h1 {
  font-family: 'Overlock SC', cursive;
}
hr {
  background-image: linear-gradient(to right, transparent, var(--blue), var(--pink), transparent);
}
/* NAV MENU ON/OFF SWITCH */
#menu.active {
  max-width: 100vw;
}
.active {
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  transition: .8s ease-in-out;
}
.inactive {
  max-width: 0;
  transition: .8s ease-in-out;
  transition-delay: .3s !important;
}

/* NAV GLOBAL STYLE */
.nav-active {
  color: var(--lavender)!important;
  /* font-weight: 600; */
}