body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*========== THEME COLORS ==========*/
:root {
  --blue: rgb(85, 205, 252);
  --pink: rgb(247, 168, 184);
}

/* NAV MENU ON/OFF SWITCH */
#menu.active {
  max-width: 100vw;
}
.active {
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  transition: .8s ease-in-out;
}
.inactive {
  max-width: 0;
  transition: .8s ease-in-out;
  transition-delay: .3s !important;
}

/* NAV GLOBAL STYLE */
.nav-active {
  text-decoration: underline!important;
}